@model CondosmartWeb.Models.ChamadoViewModel

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do Chamado</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Id)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Descricao)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Descricao)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.DataChamado)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DataChamado)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Status)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>