@model IEnumerable<CondosmartWeb.Models.CondominioViewModel>
@{
    ViewData["Title"] = "Condomínios";
}
<h1>@ViewData["Title"]</h1>

<p><a asp-action="Create" class="btn btn-primary">Novo Condomínio</a></p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Id)</th>
            <th>@Html.DisplayNameFor(m => m.First().Nome)</th>
            <th>@Html.DisplayNameFor(m => m.First().Cnpj)</th>
            <th>@Html.DisplayNameFor(m => m.First().Cidade)</th>
            <th>@Html.DisplayNameFor(m => m.First().Uf)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Cnpj</td>
                <td>@item.Cidade</td>
                <td>@item.Uf</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
